

.container-fluid {
    height: 65vh;
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    margin-top: 1%;
    justify-content: space-between;
    flex-direction: row;
}

.btn.btn-light {
    color: blue;
    justify-self: flex-end;
    border-radius: 100px;
}

.nav-options {
    display: flex;
    color: white;
}

.logo {
    justify-self: flex-start;
    color: white;
}

.seca {
    display: flex;
    justify-content: center;
    align-items: baseline;
    
}

.card1 {
    position: relative;
    text-align: center;
      align-items: center;
      display: flex;
}


.img1 {
    height: 30vh;
    float: left;
}

